<div class="container mt-5">
  <h1>My Lists</h1>

  <p><%= link_to "Add new list", new_list_path %></p>

  <ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
    <p><%= link_to "view list", list_path(list) %></p>
    <%= link_to "Delete list",list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
  </ul>

</div>
